.quattrocento-sans-regular {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.quattrocento-sans-regular-italic {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
.quattrocento-sans-bold {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.quattrocento-sans-bold-italic {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

body {
  font-family: "Quattrocento Sans";
  margin: 100px;
  background: #f5dbbb;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald;
}

.box {
  background-color: #Ffffff;
  padding: 50px 10px;
}

#banner {
  margin: 50px;
  text-align: center;
  border: solid;
  font-size: 1.5em;
}

#boxmodelimg {
  width: 50%;
  height: 50%;
}

.topics {
  margin: 0 auto;
  width: 55%;
}

li {
  line-height: 150%;
}

code {
  background-color: lightgray;
}

#codespan {
  margin-left: 10px;
  background-color: white;
}

#borderradius {
  border-style: solid;
  border-radius: 10px;
}